a{
    margin: 7px;
}

.logo{
    background-image: url('../../../assets/logo.jpg');
    height: 48px;
    width: 48px;
    background-size:contain;
    background-repeat: no-repeat;
    margin:0px;
    padding:0px;
    margin-right:0.2em;
    border-radius: 50%;
}

.header-spacer{
    flex: 1 1 auto;
}

.mat-icon{
    vertical-align: middle;
    margin: 0 5px;
    
}

.sw-title{
    margin:0.2em;
}